<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style type="text/css">
    body {
        color: blanchedalmond;
        background-color: black;

    }

    h1 {
        font-weight: bold;
        text-align: center;
        padding: auto;
        color: red;
        font-family: 'Times New Roman', Times, serif;
    }

    ul {
        text-align: center;
        list-style-type: none;
    }

    li {
        margin-top: 30px;
    }

    a {
        margin-top: 100px;
        color: white;
    }
</style>

<body>
    <h1>Food Index Page</h1>
    <ul>
        <%allFoods.forEach(function (element,index) {%>
            <li>
                <a href="/foods/<%=index%>">
                    <%=element.name[0].toUpperCase() + element.name.slice(1)%>
                </a>
            </li>
            <%})%>
    </ul>
</body>

</html>